@font-face {
	font-family: "Forum";
	src: url("../assets/fonts/Forum-Regular.ttf");
}

@font-face {
	font-family: "Inter";
	src: url("../assets/fonts/Inter-Regular.ttf");
}

@keyframes button {
  from {
    background-color: #ffffff;
    border-color: #0c0c0e;
  }

  to {
    background-color: #bb945f;
    border-color: #bb945f;
  }
}

@keyframes custom-input {
  from {
    font-wight: 400;
    opacity: 0;
    visibility: hidden;
  }

  to {
    font-weight: 700;
    opacity: 1;
    visibility: visible;
  }
}

@keyframes custom-label {
  from {
    font-wight: 400;
  }

  to {
    font-weight: 700;
  }
}

* {
  box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  display: block;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #8e8e8e;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 90px;
  background-color: #0c0c0e;
}

.header-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 334px;
  height: 100%;
  font-family: Forum, serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  color: #ffffff;
  letter-spacing: 0.6px;
}

.header-right {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 672px;
  height: 100%;
}

.header-icons {
  display: block;
  width: 88px;
}

.cross-icon {
  display: none;
}

.profile-icon-2 {
  cursor: pointer;
}

nav {
  display: flex;
  width: 584px;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 50px;
  color: #ffffff;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  list-style-type: none;
}

header a {
  position: relative;
  text-decoration: none;
  color: #ffffff;
}

header a::before {
	content: '';
	position: absolute;
	left: 0; bottom: -2px;
	width: 0;
	height: 2px;
	background-color: #ffffff;
  transition: width 0.5s;
}

header a:hover:before {
  width: 100%;
}

header img {
  display: block;
  margin-right: 20px;
  margin-left: 40px;
}

.profile-icon-1 {
  display: none;
}

.burger-icon {
  display: none;
}

.welcome {
  display: flex;
  width: 100%;
  height: 600px;
  background-image: linear-gradient(to bottom, #0c0c0e 0%, transparent 50%), url("../assets/images/welcome.jpg");
  background-size: no-repeat;
  background-position: center;
  background-size: cover;
}

.welcome-black {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 220px;
  margin-top: 220px;
  text-align: center;
  font-family: Forum, serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing:3px;
  color: #ffffff;
  background-color: #0c0c0e;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-height: 60.556%;
  background-color: #ffffff;
  padding-bottom: 35px;
}

.about h2 {
  display: block;
  margin-top: 20px;
  font-family: Forum, serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  color: #0c0c0e;
}

.underline-black {
  width: 50px;
  height: 1px;
  margin-top: 20px;
  background-color: #0c0c0e;
}

.about p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 97.222%;
  height: 40px;
  margin-top: 40px;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  color: #000000;
}

.about-slider-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-height: 38.889vw;
  margin-top: 20px;
}

#arrow-left {
  display: none;
}

#arrow-right {
  display: none;
}

.about-slider {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.about-slider-line {
  display: flex;
  justify-content: space-between;
  width: 163.195%;
  max-height: 38.889vw;
  margin-left: 20px;
}

.about img {
  max-width: 31.25vw;
  max-height: 38.889vw;
}

.about-slider-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 26px;
  margin-top: 35px;
}

.about-slider-pagination label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  cursor: pointer;
}

#about-button-4 {
  display: none;
}

#about-button-5 {
  display: none;
}

.original-button {
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  z-index: -1;
}

.custom-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  border: 5px solid #ffffff;
  border-radius: 50%;
  background-color: #0c0c0e;
}

.custom-button::before {
  content: '';
  box-sizing: border-box;
  display: none;
  position: absolute;
  width: 26px;
  height: 26px;
  border: 5px solid #ffffff;
  border-radius: 50%;
  background-color: #BB945F;
}

.original-button:checked + .custom-button::before {
  display: block;
}

.favorites {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 1439px;
  background-color: #ffffff;
  overflow: hidden;
}

.favorites h2 {
  display: block;
  margin-top: 20px;
  font-family: Forum, serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  color: #0c0c0e;
}

.favorites-choice {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  height: 64px;
}

.favorites-choice p {
  display: block;
  margin-left: 20px;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  color: #000000;
}

.radio {
  display: flex;
  width: 100%;
  height: 104px;
}

.radio form {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 15px;
}

.radio label {
  display: flex;
  height: 34px;
  border: 5px solid #ffffff;
  margin-right: 75px;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  color: #000000;
  cursor: pointer;
}

.original-radio {
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  z-index: -1;
}

.custom-radio {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17px;
  height: 17px;
  border: 2.5px solid #000000;
  border-radius: 50%;
  margin-top: 5px;
  margin-right: 20px;
  background-color: #ffffff;
}

.custom-radio::before {
  content: '';
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #000000;
  opacity: 0;
  visibility: hidden;
}

.original-radio:checked + .custom-radio::before {
  animation-name: custom-input;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.original-radio:checked + .custom-radio + span {
  animation-name: custom-label;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.favorites-season {
  display: flex;
  justify-content: space-around;
  position: relative;
  width: 100%;
  height: 1150px;
}

.favorites-winter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: absolute;
  width: 97.222%;
  height: 100%;
  background-color: #ffffff;
}

.favorites-spring {
  display: none;
  justify-content: space-between;
  flex-wrap: wrap;
  position: absolute;
  width: 97.222%;
  height: 100%;
  background-color: #ffffff;
}

.favorites-summer {
  display: none;
  justify-content: space-between;
  flex-wrap: wrap;
  position: absolute;
  width: 97.222%;
  height: 100%;
  background-color: #ffffff;
}

.favorites-autumn {
  display: none;
  justify-content: space-between;
  flex-wrap: wrap;
  position: absolute;
  width: 97.222%;
  height: 100%;
  background-color: #ffffff;
}

.book {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  width: 590px;
  height: 555px;
  margin-bottom: 40px;
  background-color: #ffffff;
}

.book-description {
  display: flex;
  flex-direction: column;
  width: 550px;
  height: 100%;
  background-color: #ffffff;
  border: 1px solid #000000;
}

.book img {
  display: block;
  position: absolute;
  top: 255px;
  left: 390px;
  width: 200px;
  height: 300px;
  background-color: blue;
}

.book h3 {
  display: block;
  width: 355px;
  margin-top: 15px;
  margin-left: 19px;
  font-family: Forum, serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 2px;
  color: #000000;
}

.book p {
  display: block;
  width: 100%;
  margin-top: 20px;
  margin-left: 19px;
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  color: #000000;
}

.book p + p {
  display: block;
  width: 355px;
  height: 320px;
  margin-top: 20px;
  font-weight: 400;
  text-transform: capitalize;
}

.underline-white {
  display: block;
  width: 60px;
  height: 1px;
  background-color: #bb945f;
}

.book-description-buy {
  display: block;
  width: 75px;
  height: 30px;
  border-radius: 2px;
  border: 1px solid #0c0c0e;
  margin-top: 15px;
  margin-left: 19px;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 10px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  color: #0c0c0e;
  background-color: #ffffff;
  cursor: pointer;
}

.book-description-buy:hover {
  animation-name: button;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.book-description-own {
  display: block;
  width: 75px;
  height: 30px;
  border-radius: 2px;
  border: 1px solid #bb945f;
  margin-top: 15px;
  margin-left: 19px;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 10px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  color: #bb945f;
  background-color: #ffffff;
}

.coffee {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 841px;
  background-color: #ffffff;
}

.coffee h2 {
  display: block;
  margin-top: 20px;
  font-family: Forum, serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  color: #0c0c0e;
}

.coffee-description {
  display: block;
  width: 97.222%;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  color: #000000;
}

.coffee-shop {
  display: flex;
  justify-content: space-between;
  width: 97.222%;
  height: 520px;
}

.drinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 438px;
  height: 100%;
}

.drinks h3 {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 40px;
  margin-bottom: 40px;
  font-family: Forum, serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  color: #BB945F;
}

.drinks-name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 199px;
  height: 440px;
}

.drinks-name p {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 40px;
  color: #000000;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
}

.drinks-line {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100px;
  height: 440px;
}

.drinks-line div {
  display: flex;
  width: 100px;
  height: 1px;
  margin-top: 19px;
  margin-bottom: 20px;
  background-color: #bb945f;
}

.drinks-price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 23px;
  height: 440px;
}

.drinks-price p {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 40px;
  font-family: Forum, serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  color: #000000;
}

.cakes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 463px;
  height: 100%;
}

.cakes h3 {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 40px;
  margin-bottom: 40px;
  font-family: Forum, serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  color: #BB945F;
}

.cakes-name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 214px;
  height: 440px;
}

.cakes-name p {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 40px;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  color: #000000;
}

.cakes-line {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100px;
  height: 440px;
}

.cakes-line div {
  display: flex;
  width: 100px;
  height: 1px;
  margin-top: 19px;
  margin-bottom: 20px;
  background-color: #bb945f;
}

.cakes-price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 35px;
  height: 440px;
}

.cakes-price p {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 40px;
  font-family: Forum, serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  color: #000000;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 575px;
  background-color: #ffffff;
}

.contacts h2 {
  display: block;
  margin-top: 20px;
  font-family: Forum, serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  color: #0c0c0e;
}

.contacts-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 97.222%;
  height: 494px;
  margin-left: 20px;
  margin-right: 20px;
}

.contacts-description {
  display: flex;
  flex-direction: column;
  width: 511px;
  height: 414px;
}

.contacts-description p {
  display: block;
  height: 40px;
  margin-bottom: 20px;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  color: #000000;
}

.contacts-description div {
  display: block;
  height: 40px;
  margin-bottom: 40px;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  color: #000000;
}

.contacts-description div + div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 160px;
  margin-bottom: 40px;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  color: #000000;
}

.contacts-description div + div + div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  color: #000000;
}

.contacts a {
  position: relative;
  text-decoration: none;
  color: #000000;
}

.contacts a::before {
	content: '';
	position: absolute;
	left: 0;
  bottom: -2px;
	width: 0;
	height: 2px;
	background-color: #000000;
  transition: width 0.5s;
}

.contacts a:hover:before {
  width: 100%;
}

.contacts img {
  display: block;
  width: 696px;
  height: 414px;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 614px;
  background-color: #ffffff;
}

.cards h2 {
  display: block;
  margin-top: 20px;
  font-family: Forum, serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  color: #0c0c0e;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 97.222%;
  height: 480px;
  margin-top: 40px;
}

.cards-container-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  height: 453px;
}

.cards-container-left > p {
  display: block;
  width: 100%;
  height: 36px;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
  color: #000000;
}

.cards-container-left form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  height: 386px;
  border: 3px solid #bb945f;
  box-shadow: 0 4px 5px 0px rgba(0, 0, 0, 0.25);
}

.cards-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 560px;
  height: 272px;
  margin-top: 17px;
  background-color: #bb945f;
}

.cards-description p {
  display: block;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  font-family: Forum, serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
  color: #000000;
  }

.cards-type {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 157px;
  margin-left: 20px;
}

.cards-type input {
  display: flex;
  align-items: center;
  width: 520px;
  height: 66px;
  padding-bottom: 2px;
  padding-left: 20px;
  border-radius: 10px;
  font-family: Forum, serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
  color: #8e8e8e;
  background: #ffffff;
}

.cards-button-left {
  display: block;
  width: 242px;
  height: 44px;
  border-radius: 2px;
  border: 1px solid #0c0c0e;
  margin-top: 20px;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  color: #0c0c0e;
  background-color: #ffffff;
  cursor: pointer;
}

.cards-button-left:hover {
  animation-name: button;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.cards-container-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 456px;
  height: 253px;
}

.cards-container-right p {
  display: block;
  width: 100%;
  height: 33px;
  text-align: end;
  font-family: Forum, serif;
  font-size: 30px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
  color: #000000;
}

.cards-container-right p + p {
  display: block;
  width: 456px;
  height: 120px;
  text-align: end;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.4px;
  color: #000000;
}

.cards-buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 30px;
}

.cards-button-right {
  display: block;
  width: 75px;
  height: 30px;
  border-radius: 2px;
  border: 1px solid #0c0c0e;
  margin-left: 20px;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 10px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  color: #0c0c0e;
  background-color: #ffffff;
  cursor: pointer;
}

.cards-button-right:hover {
  animation-name: button;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 250px;
  background-color: #0c0c0e;
}

.footer-first {
  display: flex;
  justify-content: space-between;
  width: 97.222%;
  height: 40px;
  margin-top: 20px;
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
}

.footer-first-left {
  display: block;
  position: relative;
  width: 230px;
  height: 40px;
  text-align: start;
  text-decoration: none;
  color: #ffffff;
}

.footer-first-right {
  display: block;
  width: 150px;
  height: 40px;
  text-align: end;
}

.footer-second {
  display: flex;
  justify-content: space-between;
  width: 97.222%;
  height: 40px;
  margin-top: 10px;
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
}

.footer-second-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 102px;
  height: 40px;
  margin-top: 2px;
  margin-left: 1px;
  text-align: end;
}

.footer-second-right {
  display: block;
  width: 150px;
  height: 40px;
  margin-right: 1px;
  text-align: end;
}

.footer-line {
  display: flex;
  width: 97.222%;
  height: 1px;
  margin-top: 29px;
  background-color: #ffffff;
}

.footer-rss {
  display: flex;
  justify-content: space-between;
  width: 97.222%;
  height: 22px;
  margin-top: 45px;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2px;
  color: #ffffff;
}

.footer-rss p {
  display: flex;
  justify-content: flex-start;
  width: 113px;
  height: 100%;
  margin-top: 1px;
}

.footer-rss p + a {
  display: block;
  width: 301px;
  height: 100%;
  text-decoration: none;
  color: #ffffff;
}

.footer-rss a + a {
  display: flex;
  justify-content: flex-end;
  width: 113px;
  height: 100%;
  text-decoration: none;
  color: #ffffff;
}

footer a::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #ffffff;
  transition: width 0.5s;
}

footer a:hover:before {
  width: 100%;
}